<div id="buy" class="project-content mt-16 duration-300">
    <div class="relative flex items-center gap-2">
        <div
            class="w-10 aspect-square text-lg font-medium flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
            3</div>
        <div class="w-full h-[1px] bg-[#e5e6e1]"></div>
    </div>
    <div
        class="items mt-5 flex flex-col md:flex-row gap-5 p-4 text-[#222222] border-2 border-dashed border-[#E4F79490]">
        <div class="flex-1">
            <img class="w-full" src="/assets/images/cover-buy-color.png" alt="cover mnext project">
        </div>
        <div class="flex flex-1 flex-col gap-2">
            <p class="text-3xl font-semibold">BUY.th</p>
            <p class="indent-5">BUY.th is a shopping platform that brings together spiritual items such as amulets,
                talismans, and sacred objects, alongside exclusive Art Toys from designers and artists, offering a
                seamless and trusted shopping experience.
            </p>
            <p class="indent-5">NFC Certificate Technology guarantees authenticity—simply scan the NFC tag to instantly
                verify product
                details. Connect directly with artists and spiritual craftspeople while shopping with confidence. Where
                spirituality meets collectible art. Explore our curated collection today.
            </p>
            <div class="p-4 mt-2 md:mt-4 bg-[#E4F79415] flex flex-col gap-4">
                <div class="flex flex-col">
                    <p class="font-semibold">Role & Responsibilities</p>
                    <p>
                        UI/UX Design, UI Development
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Duration</p>
                    <p>
                        Apr 2023 – Mar 2024
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Tools & Technologies</p>
                    <p>
                        Figma, Svelte, Expo, Tailwind CSS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center text-[#222222] mt-10">
        <div class="w-full max-w-[750px] flex flex-col items-center gap-4">
            <img class="w-full" src="/assets/images/buy/sample-web.png" alt="sample Web">
            <img class="w-full" src="/assets/images/buy/sample-app.png" alt="sample App">
            <p class="font-bold">Web & App Interfaces</p>
            <p class="indent-5">The platform was designed for both web and mobile, ensuring
                <br>• Consistent user experiences across devices
                <br>• A clean layout to highlight product visuals
                <br>• Secure and intuitive user flows for shopping, ordering, and payment
            </p>
            <img class="w-full" src="/assets/images/buy/sample-redesign.png" alt="sample Redesign UI">
            <p class="font-bold">Redesign Initiative</p>
            <p class="indent-5">To elevate user experience and strengthen brand identity, we redesigned the mobile
                application during the migration from a WebView-based framework to Expo. This included updating the
                logo, refining the color palette, and unifying UI components to ensure a smoother, more visually
                appealing interface.
            </p>
        </div>
    </div>
</div>