<div id="eventar" class="project-content mt-16 duration-300">
    <div class="relative flex items-center gap-2">
        <div
            class="w-10 aspect-square text-lg font-medium flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
            4</div>
        <div class="w-full h-[1px] bg-[#e5e6e1]"></div>
    </div>
    <div
        class="items mt-5 flex flex-col md:flex-row-reverse gap-5 p-4 text-[#222222] border-2 border-dashed border-[#E4F79490]">
        <div class="flex-1">
            <img class="w-full" src="/assets/images/cover-eventar-color.png" alt="cover eventar project">
        </div>
        <div class="flex flex-1 flex-col gap-2">
            <p class="text-3xl font-semibold">Eventar</p>
            <p class="indent-5">Eventar is an event booking platform that allows users to easily discover and purchase
                tickets for concerts, workshops, seminars, and more. With a secure online payment system and E-Ticket
                support, attending events has never been more convenient.</p>
            <div class="p-4 mt-2 md:mt-4 bg-[#E4F79415] flex flex-col gap-4">
                <div class="flex flex-col">
                    <p class="font-semibold">Role & Responsibilities</p>
                    <p>
                        UI/UX Design, UI Development
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Duration</p>
                    <p>
                        Jul 2023 – Oct 2023
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Tools & Technologies</p>
                    <p>
                        Figma, Svelte, SCSS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center text-[#222222] mt-10">
        <div class="relative w-full max-w-[750px] flex flex-col items-center gap-4">
            <img class="w-full" src="/assets/images/eventar/sample.png" alt="sample UI">
            <p class="font-bold">Sample UI</p>
            </p>
            <img class="w-full" src="/assets/images/eventar/sample-back-office.png" alt="sample UI">
            <p class="font-bold">Sample UI Organizer Side</p>
            <p class="indent-5">Designed an intuitive interface for event organizers to effortlessly create and manage
                events—from setting up event details to configuring ticket types and sales. The platform supports both
                standard and NFT tickets, with a dedicated flow for uploading metadata and assets for collectible
                digital tickets.
            </p>
            
        </div>
    </div>
</div>