<div id="mnext" class="project-content mt-16 duration-300">
    <div class="relative flex items-center gap-2">
        <div
            class="w-10 aspect-square text-lg font-medium flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
            2</div>
        <div class="w-full h-[1px] bg-[#e5e6e1]"></div>
    </div>
    <div
        class="items mt-5 flex flex-col md:flex-row-reverse gap-5 p-4 text-[#222222] border-2 border-dashed border-[#E4F79490]">
        <div class="flex-1">
            <img class="w-full" src="/assets/images/cover-mnext-color.png" alt="cover mnext project">
        </div>
        <div class="flex flex-1 flex-col gap-2">
            <p class="text-3xl font-semibold">MNEXT</p>
            <p class="indent-5"> Introducing a seamless financial solution that makes topping up easy, spending
                convenient, and payments instant with just a scan. Enjoy a fast and hassle-free digital payment
                experience, now enhanced with E-Gift, a new feature that allows you to scan NFC from participating
                vouchers.</p>
            <div class="p-4 mt-2 md:mt-4 bg-[#E4F79415] flex flex-col gap-4">
                <div class="flex flex-col">
                    <p class="font-semibold">Role & Responsibilities</p>
                    <p>
                        UI/UX Design, UI Development
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Duration</p>
                    <p>
                        Feb – Apr 2024
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-semibold">Tools & Technologies</p>
                    <p>
                        Figma, Svelte, Tailwind CSS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center text-[#222222] mt-10">
        <div class="relative w-full max-w-[750px] flex flex-col items-center gap-4">
            <img class="w-full" src="/assets/images/mnext/designsystem.png" alt="Design System">
            <img class="absolute -right-1 top-10 w-1/3 border-4 border-[#E4F794] shadow-md"
                src="/assets/images/mnext/tailwind.png" alt="Tailwind Config">
            <p class="font-bold">Design System</p>
            <p class="indent-5">To ensure consistency and scalability, I developed a comprehensive design system that
                includes
                <br>• Color Palette: Brand and base colors for cohesive visual identity
                <br>• Components: Reusable UI elements such as buttons, cards, and forms
                <br>• Code Snippet: Tailwind CSS theme configuration for streamlined development
            </p>
            <img class="w-full" src="/assets/images/mnext/sample.png" alt="sample UI">
            <p class="font-bold">Sample UI</p>
            <p class="indent-5">The user interface was designed to
                <br>• Simplify top-ups and payments via mobile
                <br>• Provide a clear dashboard for transaction summaries
                <br>• Enable smooth access to E-Gift rewards with real-time status updates
                <br>• Reflect the brand’s modern and friendly identity through a clean, intuitive layout
            </p>
            <img class="w-full" src="/assets/images/mnext/sample-egift.png" alt="sample UI EGift">
            <p class="font-bold">Key Feature: E-Gift</p>
            <p class="indent-5">This feature allows users to scan NFC-enabled vouchers from participating merchants to
                redeem digital rewards such as gift cards and special offers. It's fast, secure, and designed for
                effortless access to exclusive deals—perfect for retail environments and promotional campaigns.
            </p>
        </div>
    </div>
</div>