<nav class="nav relative flex flex-col-reverse lg:flex-row justify-between items-center gap-4 px-4 md:px-20 py-5">
    <div class="flex gap-10">
        <a href="/" class="nav-item relative flex flex-col">
            <span class="nav-item-bg absolute bg-[#E4F794] bottom-0"></span>
            <span class="text-[#7D7D7D]">01</span>
            <span>About Me</span>
        </a>
        <a href="/allproject/" class="nav-item relative flex flex-col">
            <span class="nav-item-bg absolute bg-[#E4F794] bottom-0"></span>
            <span class="text-[#7D7D7D]">02</span>
            <span>Projects</span>
        </a>
        <a href="/allproject/" class="nav-item relative flex flex-col">
            <span class="nav-item-bg absolute bg-[#E4F794] bottom-0"></span>
            <span class="text-[#7D7D7D]">03</span>
            <span>Me More</span>
        </a>
    </div>
    <div class="w-full lg:w-fit flex justify-between">
        <a href="" class="lg:absolute lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 duration-300">
            <img class="w-full" src="/assets/images/narattha-logo.svg" alt="">
        </a>
        <div class="flex gap-4 text-[#222222]">
            <a class="flex flex-col items-center text-3xl duration-150 hover:scale-125 hover:text-[#E4F794]"
                href="https://www.linkedin.com/in/tanarat-arj/" target="_blank">
                <i class="hgi hgi-stroke hgi-linkedin-01"></i>
            </a>
            <a class="flex flex-col items-center text-3xl duration-150 hover:scale-125 hover:text-[#E4F794]"
                href="https://www.instagram.com/naratthaa/" target="_blank">
                <i class="hgi hgi-stroke hgi-instagram"></i>
            </a>
        </div>
    </div>
</nav>