<div class="fixed right-4 bottom-4 z-50 flex flex-col gap-3">
    <a href="#crystal"
        class="w-10 aspect-square text-lg font-medium hidden lg:flex flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
        1</a>
    <a href="#mnext"
        class="w-10 aspect-square text-lg font-medium hidden lg:flex flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
        2</a>
    <a href="#buy"
        class="w-10 aspect-square text-lg font-medium hidden lg:flex flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
        3</a>
    <a href="#eventar"
        class="w-10 aspect-square text-lg font-medium hidden lg:flex flex justify-center items-center bg-cover bg-[url('/assets/images/bg-number.svg')]">
        4</a>
    <a href="#top" class="duration-300 bg-[#222222] text-[#FFFFFF] w-10 aspect-square flex items-center justify-center">
        <i class="hgi hgi-stroke hgi-arrow-up-02"></i></a>
</div>